TABLE {border-collapse: collapse;}
TH, TD {padding: 4px;}
.lc {text-align: left; width: 30%;}
FORM {margin: 0;}
#mapid {height: 180px;}
small {font-size: x-small}
SPAN.indent {display: inline-block; width:4em;}
